body {
    background-image: linear-gradient(to right, #bdc3c7, #48739e);
    font-family: sans-serif;
}

h1 {
    font-weight: 300;
    text-align: center;
    margin-top: 50px;
}

.areaTexto {
    margin-top: 50px;  
}

h2 {
    text-align: center;
    font-weight: 300;
}

input {
    display: block;
    text-align: center;
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 5px;
    border-style: none;
}

button {
    background-color: #37597a;
    border-radius: 3px;
    border-style: none;
    color: white;
    margin-left: 680px;
    padding: 5px 10px;
}

.triangle {
    display: inline-block;
    width: 0; 
    height: 0; 
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;   
    border-left: 60px solid #37597a;
    grid-column-start: 1;
    margin: auto 500px;
}

button:hover{
    cursor: pointer;
}