body {
    background-image: linear-gradient(to right, #bdc3c7, #2c3e50);
    font-family: sans-serif;
}

h1 {
    font-weight: 400;
    text-align: center;
    margin-top: 50px;
}

h2 {
    text-align: center;
}

input {
    display: block;
    text-align: center;
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 5px;
    border-style: none;
}

